html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

.outer-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: auto;
}

header {
    background-color: gainsboro;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 0 0 32px;
    box-shadow: -2px 4px 8px 4px lightslategrey;
    margin-bottom: 12px;
}

header .left-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header .left-header #left-header-btns {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header img#home-icon {
    width: 48px;
    transition: 0.2s;
}

header img#home-icon:hover {
    transform: scale(1.25);
}

header .title-card {
    font-size: 48px;
    text-align: center;
}

header .title-card p {
    margin: 0%;
}

header #contact-me-btn {
    margin: 16px;
    border-radius: 48px;
    max-width: 150px;
    border: 1px solid black;
    /*box-shadow: 4px 4px 4px lightslategrey;*/
    font-size: 24px;
    text-align: center;
    transition: transform 0.2s;
}

header #contact-me-btn p {
    padding: 0;
    margin: 8px;
}

header #contact-me-btn:hover {
    transform: scale(1.25);
    cursor: pointer;
}

.main-content {
    flex: 10 1 0;
    display: flex;
    align-items: stretch;
    background-color: whitesmoke;
}

@media only screen and (min-width: 600px) {
   .main-content .left-menu, .main-content .right-menu {
    flex: 2 1 150px;
    text-decoration: none;
    }
    .floating-tabs #navTab, .floating-tabs #linksTab {
    display: none;
    }
}

@media only screen and (max-width: 600px) {
    .main-content .left-menu, .main-content .right-menu {
    display: none;
}}

.left-box a, .right-box a {
    text-decoration: none;
    color: black;
}

.left-box a:hover, .right-box a:hover {
    background-color: lightslategray;
    border-radius: 8px;
}

.left-box {
    background-color: gainsboro;
    padding: 8px;
    margin: 32px;
    border-radius: 8px;
    box-shadow: 4px 4px 8px lightslategrey;
    position: sticky;
    top: 0;
}

.left-box h1, .right-box h1 {
    text-align: center;
    font-size: 24px;
}

.left-box h2, .right-box h2 {
    font-size: 20px;
}

.left-box ul, .right-box ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.left-box li {
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
}

.right-box ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 12px;
}

.right-box li {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    text-align: center;
}

.right-box img {
    height: 0;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.main-content .center-content {
    flex: 8 1 128px;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    align-items: stretch;
    max-width: 100%;
}

.main-content .center-content a {
    text-decoration: none;
    color: black;
}

.main-content .center-content a.link {
    color: grey;
}

.main-content .center-content a.footnote {
    color: darkblue;
}

.main-content .center-content p {
    text-align: left;
    margin: 16px;
    line-height: 175%;
    text-indent: 2rem;
    padding-left: 12px;
    padding-right: 12px;
}

.main-content .center-content p.lastPara {
    margin-bottom: 64px;
}

.main-content .center-content h1 {
    margin: 8px;
}

.main-content .center-content .trip-report {
    display: flex;
    font-size: 18px;
    align-items: stretch;
    justify-content: flex-start;
    margin-bottom: 48px;
}

.main-content .center-content .trip-report .subtext {
    display: flex;
    justify-content: flex-start;
    font-size: 12px;
}

.main-content .center-content .trip-report .subtext p {
    margin-right: 24px;
    font-style: italic;
}

.main-content .center-content .trip-report figure {
    flex: 1;
    margin: max(16px, 1%);
    height: 100%;
    align-self: center;
}

.main-content .center-content .trip-report h2 {
    text-align: center;
}

.main-content .trip-report img {
    max-width: 100%;
    margin: 0;
}

.main-content .summary {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.trip-figure {
    border-radius: 4rem;
    display: flex;
    flex-direction: column;
    margin: 3rem;
    align-self: center;
}

figcaption {
    text-align: center;
    font-style: italic;
}

img {
    width: 100%;
}

.main-content .center-content p.footnote.bottom-footnote {
    margin-bottom: 128px;
}

.right-box {
    background-color: gainsboro;
    padding: 8px;
    margin: 32px;
    border-radius: 8px;
    box-shadow: 4px 4px 8px lightslategrey;
}

footer {
    flex: 0 0 24px;
    background-color: rgb(32, 32, 32);
}

.mobile-menu {
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.floating-tabs {
    display: flex;
    text-decoration: none;
    color: black;
}

#collapse {
    display: none;
    height: 32px;
    width: 100%;
    background-color: gainsboro;
    border: 0;
}

.floating-tabs #navTab, .floating-tabs #linksTab {
    background-color: gainsboro;
    height: 64px;
    flex: 1 1 0;
    font-size: 20px;
}

.floating-tabs #navTab:hover {
    cursor: pointer;
}

#navTab {
    border-radius: 24px 0 0 0;
    border-left: 0;
    border-top: 0;
    border-right: 1px solid black;
    border-bottom: 0;
}

#linksTab {
    border-radius: 0 24px 0 0;
    border-left: 1px  solid black;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
}

article {
    max-width: min(800px, 80%);
    align-self: center;
}

