body {
    margin: 0;
}

.outer-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: gainsboro;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1 1 24px;
    box-shadow: -2px 4px 8px 4px lightslategrey;
    margin-bottom: 12px;
}

header .left-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header .left-header #left-header-btns {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header img#home-icon {
    width: 48px;
    transition: 0.2s;
}

header img#home-icon:hover {
    transform: scale(1.25);
}

header .title-card {
    font-size: 48px;
    text-align: center;
}

header .title-card p {
    margin: 0%;
}

header #contact-me-btn {
    margin: 16px;
    border-radius: 48px;
    width: 150px;
    border: 1px solid black;
    /*box-shadow: 4px 4px 4px lightslategrey;*/
    font-size: 24px;
    text-align: center;
    transition: transform 0.2s;
}

header #contact-me-btn p {
    padding: 0;
    margin: 8px;
}

header #contact-me-btn:hover {
    transform: scale(1.25);
    cursor: pointer;
}

.main-content {
    flex: 10 1 0;
    display: flex;
    align-items: stretch;
    background-color: whitesmoke;
}

.main-content .left-menu {
    flex: 2 1 0;
    text-decoration: none;
}

.main-content .left-menu a, .main-content .right-menu a {
    text-decoration: none;
    color: black;
}

.main-content .left-menu a:hover, .main-content .right-menu a:hover {
    background-color: lightslategray;
    border-radius: 8px;
}

.main-content .left-menu .left-box {
    background-color: gainsboro;
    padding: 8px;
    margin: 32px;
    border-radius: 8px;
    box-shadow: 4px 4px 8px lightslategrey;
    position: sticky;
    top: 0;
}

.main-content .left-box h1, .main-content .right-box h1 {
    text-align: center;
    font-size: 24px;
}

.main-content .left-box h2, .main-content .right-box h2 {
    font-size: 20px;
}

.main-content .left-menu ul, .main-content .right-box ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.main-content .left-menu .left-box li {
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
}

.main-content .right-menu .right-box ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 12px;
}

.main-content .right-menu .right-box li {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    text-align: center;
}

.main-content .right-menu .right-box img {
    height: 0;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.main-content .center-content {
    flex: 5 1 128px;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.main-content .center-content a {
    text-decoration: none;
    color: black;
}

.main-content .center-content p {
    text-align: left;
}

.main-content .center-content .trip-report {
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content: flex-start;
}

.main-content .center-content .trip-report .subtext {
    display: flex;
    justify-content: flex-start;
    font-size: 12px;
}

.main-content .center-content .trip-report .subtext p {
    margin-right: 24px;
    font-style: italic;
}

.main-content .trip-report img {
    height: 150px;
}

.main-content .summary {
    display: flex;
    flex-direction: column;
}

.main-content figure {
    float: left;
}

.trip-figure {
    border-radius: 4rem;
    display: flex;
    flex-direction: column;
    width: 60rem;
    max-width: 75vw;
    margin: 3rem;
    align-self: center;
}

img {
    display: block;
    margin: 2rem;
}

figcaption {
    text-align: center;
    font-style: italic;
}

.main-content .right-menu {
    flex: 2 1 0;
}

.main-content .right-menu .right-box {
    background-color: gainsboro;
    padding: 8px;
    margin: 32px;
    border-radius: 8px;
    box-shadow: 4px 4px 8px lightslategrey;
}

footer {
    flex: 0 0 24px;
    background-color: rgb(32, 32, 32);
}